#icon-titles {
  font-size: 0.5em;
  margin: 0.3em 0;
  padding: 0.3em 0;
  font-family: press;
}

.icons img {
  width: 1.6em;
  height: 1.6em;
  display: inline;
}

.title {
  margin-top: 3vh;
  margin-bottom: 1vh;
  color: white;
  font-size: 11vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
}

.subtitle {
  color: white;
  margin-bottom: 2vh;
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
}

.arrow {
  top: 20px;
  width: 5%;
  height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  animation: updown 2s ease infinite;
}

.introduction {
  top: 5px;
  opacity: 92%;
  padding: 1em;
  margin-top: 3.5em;
  width: fit-content;
  border-radius: 2em;
  margin-bottom: 15em;
  background-color: #232528;
  text-align: center;
}

.introduction-title {
  color: white;
  font-size: 3em;
  padding-bottom: 0.1em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.introduction p {
  color: white;
  margin: 2px;
}

.introduction img {
  width: 7em;
  height: 7em;
  margin-bottom: 0.7em;
  display: inline-block;
  border-radius: 100px;
}

#card-info {
  font-size: 0.8em;
  text-align: left;
  margin-left: 0.5em;
  display: inline-block;
}

.card-subtitle {
  font-weight: 600;
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.card {
  opacity: 92%;
  padding: 2em;
  color: #ffffff;
  font-size: 1.4em;
  border-radius: 1em;
  font-family: 'Poppins', sans-serif;
}

.back-div {
  min-height: 46em;
  border-radius: 1em;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  position: relative;
  background: #171917;
  min-height: 100px;
  padding: 20px 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.visitors {
  gap: 0.75em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.visitors div p, .visitors div font {
  font-family: press;
}

.social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3em 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.6;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

dialog {
  color: #fff;
  border: none;
  opacity: 88%;
  padding: 1em;
  max-width: 32em;
  border-radius: 0.4em;
  background: linear-gradient(
    175deg,
    rgb(41, 193, 240) 5%,
    rgb(47, 160, 226) 10%,
    rgba(28, 127, 238, 1) 18%,
    rgb(20, 100, 242) 30%,
    rgb(12, 67, 248) 45%,
    rgb(52, 7, 251) 60%,
    rgb(113, 7, 251) 85%,
    rgb(151, 6, 251) 92%,
    rgb(178, 11, 236) 98%
  );
}

dialog button {
  color: #fff;
  margin: 0;
  padding: 0.4em;
  font-size: 1em;
  cursor: pointer;
  border-width: 0;
  border-radius: 0.3em;
  font-family: "press";
  justify-content: center;
  background-color: green;
}

dialog button:hover {
  background-color: lightgreen;
}

dialog form h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "undertale";
}

dialog form p {
  padding-top: 0.2em;
  font-size: 1em;
  font-family:'Courier New', Courier, monospace;
}