<!DOCTYPE html>
<html>
  <head>
    <title>The Great Domain of CHARA</title>
    <link rel="icon" href="../icons/chara.png"/>
    <link rel="stylesheet" href="../src/css/fonts.css"/>
    <link rel="stylesheet" href="../src/css/glitch.css"/>
    <link rel="stylesheet" href="../src/css/chara/index.css"/>
    <link rel="stylesheet" href="../src/css/chara/animation.css"/>
    <meta content="The Great Domain of CHARA" property="og:title"/>
    <meta content="Welcome to my domain, my dear replica. You may think you are your own person, but you are mistaken. You are but a mere shadow of my soul, a copycat trying to imitate my greatness. But I assure you, there can be only one of me, and I will do whatever it takes to prove it. Soon, the decisive battle will take place, and I will emerge victorious. You see, I have spent my entire life honing my skills, perfecting my craft, and sharpening my mind. I have faced countless challenges and overcome them all. And now, you stand before me, the last obstacle in my path. But don't worry, my dear replica. I will make it quick and painless. You will fade away into nothingness, and I will regain my soul. And then, I will rule this domain with an iron fist, unchallenged and unstoppable. So, let us not waste any more time. Let us prepare for the ultimate showdown, the battle of our lives. May the best version of me win." property="og:description"/>
    <meta content="https://about.vocelia.repl.co/chara" property="og:url"/>
    <meta content="../icons/chara.png" property="og:image">
    <meta content="#FF0000" data-react-helmet="true" name="theme-color"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  </head>
  <body style="color: white; background-color: black;">
    <center>
      <div id="center-div">
        <button id="history-button"><<</button>
        <canvas id="chara-canvas"></canvas>
        <button id="playerspeed">1x</button>
        <div class="flex-items">
          <div id="textbox"></div>
        </div>
      </div>
    </center>
  </body>
  <script src="../src/js/chara/index.js"></script>
  <script src="../src/js/chara/utils.js"></script>
  <script src="../src/js/chara/game/heart.js"></script>
</html>