<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Vocelia</title>
    <link rel="icon" href="../icon.png"/>
    <link rel="stylesheet" href="../src/css/fonts.css"/>
    <link rel="stylesheet" href="../src/css/glitch.css"/>
    <link rel="stylesheet" href="../src/css/index/hobby.css"/>
    <link rel="stylesheet" href="../src/css/index/vocelia.css"/>
    <link rel="stylesheet" href="../src/css/index/animation.css"/>
    <link rel="stylesheet" href="../src/css/index/philosophy.css"/>
    <link rel="stylesheet" href="../src/css/index/introduction.css"/>
    <link rel="stylesheet" href="../src/css/indexm/hobby.css"/>
    <link rel="stylesheet" href="../src/css/indexm/animation.css"/>
    <link rel="stylesheet" href="../src/css/indexm/philosophy.css"/>
    <link rel="stylesheet" href="../src/css/indexm/introduction.css"/>
    <a rel="me" href="https://mstdn.jp/@vocelia"></a>
    <meta content="About Vocelia" property="og:title"/>
    <meta content="Welcome to my About Me page, where I try to sum up my entire existence in just a few paragraphs. I'm a human being who spends most of their time trying to avoid one particular species: the cockroach. Yes—those vile creatures that scurry around in the darkness and seem to thrive on our collective disgust. I can't stand them. They're the bane of my existence, and I'm pretty sure they're the reason why I wrote this page—is it, though." property="og:description"/>
    <meta content="https://about.vocelia.repl.co" property="og:url"/>
    <meta content="https://about.vocelia.repl.co/icon.png" property="og:image">
    <meta content="#FF0000" data-react-helmet="true" name="theme-color"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  </head>
  <body>
    <div style="width: fit-content; text-align: center; width: 100%; height: 100%;">
    <body style="background-image: url(../src/media/background/main-back.jpeg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
      <p class="title hero glitch layers"><span><b>HYPE<br>GLITCHER</b></span></p>
      <p class="subtitle hero glitch layers"><span><b>There is no exception in this library</b></span></p>
      <img class="arrow" src="../src/media/arrow.png"/>
    </body>
    <center>
      <div class="introduction">
        <p class="introduction-title"><b><u>About Me</u></b></p>
        <img src="../icons/profile.jpeg"/> 
        <div id="card-info">
          <p><b>Age: </b>17</p>
          <p><b>Name: </b>Vocelia</p>
          <p><b>Sexuality: </b>Genshinsexual</p>
          <p><b>Pronouns: </b>Voc, Lia, Celia, Hype</p>
          <p><b>Operating Systems: </b>Arch Linux, Windows 8.1</p>
          <p><b>Despises: </b><u>Arabic, Arabic, Cockroaches, Arabic, Arabic</u></p>
          <p><b>Hobbies: </b>Programming, Literacy, Maths, Anime, Games</p>
          <p><b>Games: </b>Osu!, Minecraft, Genshin Impact, Honkai Impact</p>
        </div>
      </div>
    </center>
    </div>
    <div class="card" id="vocelia-div">
      <div class="card-subtitle typewritter">
        The Origins of Vocelia
      </div>
        As you may have noticed, my name on the About Me card is currently listed as Vocelia when the site is originally made for Hype Glitcher.
        This is because I recently changed my name and have yet to update it on this website.
        While I can't say for certain why I chose that particular name—Hype Glitcher—in the past, I'm happy to provide some background on the origins of Vocelia.
        <br><br>
        Vocelia is a name that derives from the perfect union of two polar-opposite concepts: Void and Celestia—Vo<s>id</s>Cel<s>est</s>ia.
        These words come together in a harmonious blend that expresses the limitless depths of the Void and the heavenly expanse of Celestia.
        By using these two contrasting ideas, the name alludes to the immeasurable depths of the Abyss, as well as the distant and obscured wonders of the universe.
        Despite their apparent differences, Void and Celestia share a common thread that unites them in a truly magnificent way.
        Together, they form a name that is both striking and meaningful, conveying a sense of vastness and wonder.
    </div>
    <div class="back-div" id="charlotte-back" style="background-image: url(../src/media/background/charlotte-back.jpg);"></div>
    <div class="card" id="phil-div">
      <div class="card-subtitle typewritter">
       Vocelia's Feautures and Bugs
      </div>
      <div style="margin: 0.8em;"></div>
      <p class="rainbow_animation" id="icon-titles">WEB LANGUAGES:</p>
      <div class="icons">
        <img alt="HTML" src="../languages/html.png">
        <img alt="CSS" src="../languages/css.png">
        <img alt="JS" id="js-exception" src="../languages/js.png">
      </div>
      <p class="rainbow_animation" id="icon-titles">PROGRAMMING LANGUAGES:</p>
      <div class="icons">
        <img alt="C" src="../languages/c.png">
        <img alt="C++" src="../languages/cpp.png">
        <img alt="C#" src="../languages/cs.png">
        <img alt="Rust" src="../languages/rust.png">
        <img alt="Python" src="../languages/py.png">
        <img alt="Node.js" src="../languages/nodejs.png">
      </div>
      <p class="rainbow_animation" id="icon-titles">COMMUNICATIVE LANGUAGES:</p>
      <div class="languages">
        <div>
          <p>ARABIC</p>
          <div class="prof-layout">
            <div class="prof-levels" id="ar">
              <p>A1</p>
              <p>A2</p>
              <p>B1</p>
              <p>B2</p>
              <p>C1</p>
              <p>C2</p>
            </div>
            <div class="img-overlay">
              <img id="road" src="../src/media/road.gif">
              <img class="ar-img" id="overlay" src="../src/media/madoka.gif">
            </div>
          </div>
        <p>FRENCH</p>
        <div class="prof-layout">
            <div class="prof-levels" id="fr">
              <p>A1</p>
              <p>A2</p>
              <p>B1</p>
              <p>B2</p>
              <p>C1</p>
              <p>C2</p>
            </div>
            <div class="img-overlay">
              <img id="road" src="../src/media/road.gif">
              <img class="fr-img" id="overlay" src="../src/media/madoka.gif">
            </div>
        </div>
        <p>ENGLISH</p>
        <div class="prof-layout">
            <div class="prof-levels" id="en">
              <p>A1</p>
              <p>A2</p>
              <p>B1</p>
              <p>B2</p>
              <p>C1</p>
              <p>C2</p>
            </div>
            <div class="img-overlay">
              <img id="road" src="../src/media/road.gif">
              <img class="en-img" id="overlay" src="../src/media/madoka.gif">
            </div>
        </div>
        <p>CHINESE</p>
        <div class="prof-layout">
            <div class="prof-levels" id="cn">
              <p>HSK1</p>
              <p>HSK2</p>
              <p>HSK5</p>
              <p>HSK6</p>
            </div>
            <div class="img-overlay">
              <img id="road" src="../src/media/road.gif">
              <img class="cn-img" id="overlay" src="../src/media/madoka.gif">
            </div>
        </div>
        <p>TAGALOG</p>
        <div class="prof-layout">
            <div class="prof-levels" id="tg">
              <p>A1</p>
              <p>A2</p>
              <p>B1</p>
              <p>B2</p>
              <p>C1</p>
              <p>C2</p>
            </div>
            <div class="img-overlay">
              <img id="road" src="../src/media/road.gif">
              <img class="tg-img" id="overlay" src="../src/media/madoka.gif">
            </div>
        </div>
        <p>JAPANESE</p>
        <div class="prof-layout">
            <div class="prof-levels" id="jp">
              <p>N5</p>
              <p>N4</p>
              <p>N3</p>
              <p>N2</p>
              <p>N1</p>
            </div>
            <div class="img-overlay">
              <img id="road" src="../src/media/road.gif">
              <img class="jp-img" id="overlay" src="../src/media/madoka.gif">
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="back-div" style="background-image: url(../src/media/background/shrine-back.jpg);"></div>
    <div class="card" id="hobby-div">
      <div id="game-card" class="card-subtitle typewritter">
       Additional Content
      </div>
      <div style="margin: 1em;"></div>
        <div class="flex-items" id="undertale-flexbox">
          <div id="undertale-sprites">
            <img src="../src/media/sprites/frisk.png" id="undertale-sprite">
          </div>
          <img class="thumbnails" src="../src/media/banner/undertale.png">
        </div>
        <div id="undertale-bubble-text">???<br>* HEY THERE!</div>
        <div id="game-card" class="card-subtitle typewritter">
          My button
        </div>
        <img src="/button.gif">
        <p class="rainbow_animation" id="icon-titles">Do you wish to link my site with yours? <a class="rainbow_animation" href="">Click Here</a></p>
      </div>
    </div>
    <div class="back-div" style="background-image: url(../src/media/background/crimson-back.jpg); border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;"></div>
    <footer class="footer">
      <div class="visitors">
        <div class="visitors visitors-item-1">
          <img src="../src/media/neko-cat.gif">
        </div>
        <div class="visitors visitors-item-2">
          <p id="visits-counter">Thanks for visiting!<br>Visits: <font color="red">NULL</font></p>
        </div>
        <div class="visitors visitors-item-3">
          <img src="../src/media/neko-cat.gif">
        </div>
      </div>
      <div style="margin: 0.3em;"></div>
      <ul class="social-icon">
        <li class="social-icon__item">
          <a class="social-icon__link" href="https://github.com/Vocelia">
            <ion-icon name="logo-github"></ion-icon>
          </a></li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="https://discord.com/users/939141111941840926">
            <ion-icon name="logo-discord"></ion-icon>
          </a></li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="https://mstdn.jp/@vocelia">
            <ion-icon name="logo-mastodon"></ion-icon>
          </a></li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="https://api.vocelia.repl.co">
            <ion-icon name="code-slash"></ion-icon>
          </a></li>
      </ul>
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="https://about.vocelia.repl.co">Home</a></li>
	<li class="menu__item"><a class="menu__link" href="https://anilist.co/user/Vocelia">Anilist</a></li>
        <li class="menu__item"><a class="menu__link" href="email">Email</a></li>
        <li class="menu__item"><a class="menu__link" href="matrix">Matrix</a></li>
      </ul>
      <p>&copy;Vocelia 2023</p>
    </footer>
  </body>
  <script src="../src/js/index/main.js"></script>
  <script src="../src/js/index/undertale.js"></script>
  <script src="../src/js/index/typewritter.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
